<%# Encoding: utf-8 %>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        <%= escapeHTML(report.url) %> ::
        Arachni Web Application Security Report
    </title>

    <!--
        Design by Tasos "Zapotek" Laskos <tasos.laskos@gmail.com>
        Copyright (c) Arachni 2011-2014.
     -->

    <script type="text/javascript">
        //<![CDATA[
        <%= erb 'js/lib/jquery.min.js' %>
        <%= erb 'js/lib/bootstrap.js' %>

        <%= erb 'js/helpers.js' %>
        <%= erb 'js/init.js.erb' %>
        //]]>
    </script>

    <style type="text/css">
        /*<![CDATA[*/
        <%=erb 'css/lib/font-awesome.css' %>
        <%=erb 'css/lib/bootstrap.css' %>
        <%=erb 'css/main.css' %>
        /*]]>*/
    </style>

</head>
<body>

<nav class="navbar navbar-inverse navbar-default" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="http://www.arachni-scanner.com">
            Arachni <%= Arachni::VERSION %>
        </a>

        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a href="#summary" data-toggle="tab">Summary</a></li>

                <li class="dropdown">
                    <a href="#issues" class="dropdown-toggle" data-toggle="tab">
                        Issues

                        <span class="badge">
                            <%= report.issues.size %>
                        </span>

                        <b class="fa fa-caret-down"></b>
                    </a>

                    <ul class="dropdown-menu">
                        <% grouped_issues.each do |trust, by_severity| %>
                            <li class="dropdown">
                                <a href="#issues-<%= trust %>">
                                    <%= trust.to_s.capitalize %>

                                    <span class="badge">
                                        <%= graph_data[:trust][trust.to_s.capitalize] %>
                                    </span>

                                    <b class="fa fa-caret-right"></b>
                                </a>

                                <ul class="dropdown-menu">
                                    <% by_severity.each do |severity, by_name| %>
                                        <li class="dropdown">
                                            <a href="#issues-<%= trust %>-severity-<%= severity %>">
                                                <%= severity.to_s.capitalize %>

                                                <span class="badge">
                                                    <%= graph_data["#{trust}_severities".to_sym][severity.to_sym] %>
                                                </span>

                                                <b class="fa fa-caret-right"></b>
                                            </a>

                                            <ul class="dropdown-menu">
                                                <% by_name.each do |name, issues| %>
                                                    <li class="dropdown">
                                                        <a href="#issues-<%= trust %>-severity-<%= severity %>-<%= issues.first.check[:shortname] %>">
                                                            <%= escapeHTML name %>

                                                            <span class="badge">
                                                                <%= issues.size %>
                                                            </span>
                                                        </a>
                                                    </li>
                                                <% end %>
                                            </ul>
                                        </li>
                                    <% end %>
                                </ul>
                            </li>
                        <% end %>
                    </ul>
                </li>

                <li><a href="#plugins" data-toggle="tab">Plugin results</a>
                </li>
                <li><a href="#sitemap" data-toggle="tab">Sitemap</a></li>
                <li>
                    <a href="#configuration" data-toggle="tab">Configuration</a>
                </li>
            </ul>
        </div>

        <p class="navbar-text navbar-right">
            (Found a false positive?

            <a class="navbar-link" href="<%= escapeHTML(ISSUES_URL) %>">
                Please let us know.</a>)
        </p>
    </div>
</nav>

<div class="container-fluid">

    <div class="page-header">
        <h1>
            <%= escapeHTML(report.url) %>
            <small>Generated on <%= Time.now %></small>
        </h1>
    </div>

    <div class="tab-content">
        <div class="tab-pane active" id="summary">
            <%= erb :summary %>
        </div>

        <div class="tab-pane" id="configuration">
            <%= erb :configuration %>
        </div>

        <div class="tab-pane" id="issues">
            <%= erb :issues %>
        </div>

        <div class="tab-pane" id="plugins">
            <%= erb :plugins %>
        </div>

        <div class="tab-pane" id="sitemap">
            <%= erb :sitemap %>
        </div>

    </div>
</div>
</body>
</html>
