<%# Encoding: utf-8 %>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        <%= escapeHTML(report.url) %> ::
        Arachni Web Application Security Report
    </title>

    <!--
        Copyright 2010-2017 Sarosys LLC <http://www.sarosys.com>
     -->

    <% %w(js/lib/jquery.min.js js/lib/bootstrap.min.js js/lib/d3.min.js
        js/lib/c3.min.js js/helpers.js js/init.js js/charts.js
        js/configuration.js).each do |f| %>
        <script type="text/javascript" src="<%= f %>"></script>
    <% end%>

    <% %w(css/lib/font-awesome.min.css css/lib/bootstrap.min.css css/lib/c3.css
        css/main.css).each do |f| %>
        <link href="<%= f %>" type="text/css" rel="stylesheet" />
    <% end%>

</head>
<body>

<%= erb :navigation %>

<div class="container-fluid">
    <div class="page-header">
        <h1>
            <%= escapeHTML(report.url) %>
            <small>Generated on <%= Time.now %></small>
        </h1>
    </div>

    <div class="tab-content">
        <div class="tab-pane active" id="summary">
            <%= erb :summary %>
        </div>

        <div class="tab-pane" id="configuration">
            <%= erb :configuration %>
        </div>

        <% if report.issues.any? %>
        <div class="tab-pane" id="issues">
            <%= erb :issues %>
        </div>
        <% end %>

        <% if plugins.any? %>
        <div class="tab-pane" id="plugins">
            <%= erb :plugins %>
        </div>
        <% end %>

        <div class="tab-pane" id="sitemap">
            <%= erb :sitemap %>
        </div>

    </div>
</div>
</body>
</html>
