<%# Encoding: utf-8%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en-US">
<head>
    <% if title = content_for( :title ) %>
    <title><%= title %></title>
    <% end %>

    <meta charset="utf-8" />
    <script src="<%= js_url %>jquery.min.js" type='text/javascript'></script>
    <script src="<%= js_url %>bootstrap.min.js" type='text/javascript'></script>
    <script src="<%= js_url %>panel.js" type='text/javascript'></script>

    <link rel="stylesheet" href="<%= css_url %>bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="<%= css_url %>bootstrap-responsive.css" type="text/css" />
    <link rel="stylesheet" href="<%= css_url %>panel.css" type="text/css" />
</head>
<body>
    <div class="container">
        <%= yield %>
    </div>

</body>
</html>
