<h2>Configuration</h2>

<div id="configuration-tabs">
    <ul>
        <li><a href="#configuration_list">Settings</a></li>
    </ul>

    <div id='configuration_list'>

        <strong>Version</strong>: <%= report.version %>
        <br/>
        <strong>Audit started on</strong>: <%= report.start_datetime %>
        <br/>
        <strong>Audit finished on</strong>: <%= report.finish_datetime %>
        <br/>
        <strong>Runtime</strong>: <%= report.delta_time %>
        <br/>

        <p>&nbsp;</p>

        <h3>Runtime options</h3>

        <strong>URL:</strong> <%= escapeHTML(report.url) %>
        <br/>
        <strong> User agent:</strong> <%= escapeHTML(report.options[:http][:user_agent]) %>
        <br/>

        <p>&nbsp;</p>

        <table>
            <tr>
                <th>Audited elements</th>
                <th>Checks</th>
                <th>Filters</th>
                <th>Cookies</th>
            </tr>
            <tr>
                <td>
                    <ul>

                        <% if report.options[:audit][:links] %>
                            <li>Links</li>
                        <% end %>

                        <% if report.options[:audit][:forms] %>
                            <li>Forms</li>
                        <% end %>

                        <% if report.options[:audit][:cookies] %>
                            <li>Cookies</li>
                        <% end %>

                        <% if report.options[:audit][:headers] %>
                            <li>Headers</li>
                        <% end %>

                    </ul>
                </td>

                <td>
                    <ul>
                        <% report.options[:checks].each do |mod| %>
                            <li><%= mod %></li>
                        <% end %>
                    </ul>
                </td>

                <td>
                    <ul>

                        <li>Exclude:
                            <ul>
                                <% if report.options[:scope][:exclude_path_patterns].any? %>
                                    <% report.options[:scope][:exclude_path_patterns].each do |rule| %>
                                        <li><%= escapeHTML(rule) %></li>
                                    <% end %>
                                <% else %>
                                    <li>N/A</li>
                                <% end %>
                            </ul>
                        </li>

                        <li>Include:

                            <ul>
                                <% if report.options[:scope][:include_path_patterns].any? %>
                                    <% report.options[:scope][:include_path_patterns].each do |rule| %>
                                        <li><%= escapeHTML(rule) %></li>
                                    <% end %>
                                <% else %>
                                    <li>N/A</li>
                                <% end %>
                            </ul>
                        </li>

                        <li>Redundant:

                            <ul>
                                <% if report.options[:scope][:redundant_path_patterns].any? %>
                                    <% report.options[:scope][:redundant_path_patterns].each do |regexp, counter| %>
                                        <li><%= escapeHTML(regexp) %> -
                                            Count: <%= counter %></li>
                                    <% end %>
                                <% else %>
                                    <li>N/A</li>
                                <% end %>
                            </ul>
                        </li>

                    </ul>
                </td>

                <td>
                    <ul>
                        <% if report.options[:http][:cookies].any? %>
                            <% report.options[:cookies].each_pair do |name, val| %>
                                <li><%= escapeHTML(name) %>
                                    = <%= escapeHTML(val) %></li>
                            <% end %>
                        <% else %>
                            <li>N/A</li>
                        <% end %>
                    </ul>

                </td>
            </tr>
        </table>
    </div>

</div>
