<h2>Issues</h2>

<%= erb :search, id: 'issues_tab' %>

<div id="issue-tabs">
    <ul class="nav nav-tabs">
        <li
            <%= "class='#{has_trusted_issues ? 'active' : 'disabled' }'" %>
        >
            <a
               <%= 'data-toggle="tab" href="#issues-trusted"' if has_trusted_issues %>
            >
                Trusted
            </a>
        </li>

        <li
            <%= 'class="disabled"' if !has_untrusted_issues %>
        >
            <a
               <%= 'data-toggle="tab" href="#issues-untrusted"' if has_untrusted_issues %>
            >
                Untrusted
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="issues-trusted">
            <p class="well">
                At the time these issues were logged there were no abnormal
                interferences or anomalous server behavior.<br/>
                These issues are considered trusted and accurate.
            </p>

            <%= erb 'issues/grouped.erb', grouped: grouped_issues[:trusted] %>
        </div>

        <div class="tab-pane" id="issues-untrusted">
            <p class="well">
                These issues are considered untrusted (and may in fact be false
                positives)
                because at the time they were identified the server was
                exhibiting
                some kind of anomalous behavior or there was third part
                interference (like network latency for example).
                <br/>
                The listed issues need verification by a human.
            </p>

            <%= erb 'issues/grouped.erb', grouped: grouped_issues[:untrusted] %>
        </div>
    </div>

</div>
