<%
   variation = issue.variations.first
%>

<div id="<%= issue_id(issue) %>">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="<%= issue_location(issue) %>">
                            In <code><%= issue.vector.type %></code>

                            <% if issue.active? %>
                                input
                                <code><%= issue.affected_input_name %></code>
                            <% end %>

                            <% if issue.variations.first.request %>
                                using
                                <code><%= issue.variations.first.request.method.to_s.upcase %></code>
                            <% end %>
                        </a>

                        at

                        <a href="<%= escapeHTML(issue.vector.url) %>">
                            <%= escapeHTML(issue.vector.url) %>
                        </a>

                        pointing to
                        <a href="<%= escapeHTML(issue.vector.action) %>">
                            <%= escapeHTML(issue.vector.action) %>
                        </a>.
                    </h4>
                </div>

                <div class="panel-body">
                    <% if issue.variations.size == 1 %>
                        <% if (variation.vector.respond_to?(:seed) && variation.vector.seed) || variation.signature || variation.proof %>
                            <div class="row">
                                <div class="col-md-12">
                                    <%=
                                        erb 'issue/info.erb',
                                            issue: issue.variations.first,
                                            id:    issue_id( issue )
                                    %>
                                </div>
                            </div>
                        <% end %>
                    <% else %>
                        <% issue.variations.each.with_index do |v, i| %>
                            <% if (variation.vector.respond_to?(:seed) && variation.vector.seed) || variation.signature || variation.proof %>
                                <div class="row">
                                    <div class="col-md-12">
                                        <strong>
                                            <a
                                            id="<%= issue_id(issue) %>-variation-<%= i %>"
                                            href="<%= issue_location(issue) %>/variation/<%= i %>">
                                                Variation <%= i %>
                                            </a>
                                        </strong>

                                        <%=
                                            erb 'issue/info.erb',
                                                issue: v,
                                                id:    issue_id( v )
                                        %>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>
                    <% end %>

                    <%=
                        erb 'issue/details.erb',
                            issue: issue.variations.first,
                            id:    issue_id( issue )
                    %>
                </div>
            </div>
        </div>
    </div>

</div>

