<%
   variation = issue.variations.first
   not_available = '<p class="alert alert-info">Not available</p>'
%>

<div id="<%= issue_id( issue ) %>">
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">
                    <h4>
                        <a href="<%= issue_location(issue) %>">
                            In <code><%= issue.vector.type %></code>

                            <% if issue.active? %>
                                input
                                <code><%= issue.affected_input_name %></code>
                            <% end %>

                            <% if issue.variations.first.request %>
                                using
                                <code><%= issue.variations.first.request.method.to_s.upcase %></code>
                            <% end %>
                        </a>

                        at

                        <a href="<%= escapeHTML(issue.vector.url) %>">
                            <%= escapeHTML(issue.vector.url) %>
                        </a>

                        pointing to
                        <a href="<%= escapeHTML(issue.vector.action) %>">
                            <%= escapeHTML(issue.vector.action) %>
                        </a>.
                    </h4>
                </div>
            </div>

            <% if (variation.vector.respond_to?( :seed ) && variation.vector.seed) || variation.signature || variation.proof %>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <% if variation.vector.respond_to?( :seed ) && variation.vector.seed %>
                                    <th>
                                        Injected seed

                                        <a href="#" rel="tooltip"
                                           title="This seed uncovered the vulnerable vector during the audit.">
                                            <i class="fa fa-info"></i>
                                        </a>
                                    </th>
                                <% end %>

                                <% if variation.signature %>
                                    <th>
                                        Signature

                                        <a href="#" rel="tooltip"
                                           title="This signature was used to detect the issue.">
                                            <i class="fa fa-info"></i>
                                        </a>
                                    </th>
                                <% end %>

                                <% if variation.proof %>
                                    <th>
                                        Proof

                                        <a href="#" rel="tooltip"
                                           title="This string was used to verify the existence of the issue.">
                                            <i class="fa fa-info"></i>
                                        </a>
                                    </th>
                                <% end %>

                            </tr>
                            </thead>
                            <tr>

                                <% if variation.vector.respond_to?( :seed ) && variation.vector.seed %>
                                    <td class="wrap">
                                        <%= variation.vector.seed ?
                                                    "<pre>#{escapeHTML(variation.vector.seed)}</pre>" :
                                                    not_available %>
                                    </td>
                                <% end %>

                                <% if variation.signature %>
                                    <td class="wrap">
                                        <%= variation.signature ?
                                                    "<pre>#{escapeHTML(variation.signature)}</pre>" :
                                                    not_available %>
                                    </td>
                                <% end %>

                                <% if variation.proof %>
                                    <td class="wrap">
                                        <%= variation.proof ?
                                                    "<pre class='code-container'>#{escapeHTML(variation.proof)}</pre>" :
                                                    not_available %>
                                    </td>
                                <% end %>
                            </tr>
                        </table>
                    </div>
                </div>
            <% end %>
        </div>
    </div>

    <%=
        erb 'issue/details.erb',
            issue: issue,
            id:    issue_id( issue )
    %>
</div>

