<h2>Plugin results</h2>

<div id="plugin-tabs">
    <ul class="nav nav-tabs">
        <% plugins.keys.each do |name| %>
            <li>
                <a data-toggle="tab" href="#plugins-<%= name %>">
                    <%= escapeHTML get_plugin_info( name )[:name] %>
                </a>
            </li>
        <% end %>
    </ul>

    <div class="tab-content">
    <% plugins.each do |name, html| %>
        <div class="tab-pane" id="plugins-<%= name %>">
            <p class="well">
                <%= prep_description( get_plugin_info(name)[:description] ) %>
            </p>

            <p><%= html.recode %></p>
        </div>
    <% end %>
    </div>

</div>
