<h2>Plugin results</h2>

<div id="plugin-tabs">
    <ul>
        <% plugins.keys.each do |name| %>
            <li><a href="#<%= name %>"><%= get_plugin_info(name)[:name] %></a>
            </li>
        <% end %>
    </ul>

    <% plugins.each do |name, html| %>
        <div id="<%= name %>">
            <blockquote>
                <pre><%= prep_description(get_plugin_info(name)[:description]) %></pre>
            </blockquote>

            <p><%= html.recode %></p>
        </div>

    <% end %>
</div>
