<%
   grouped = {}
   Arachni::Issue::Severity::ORDER.each do |severity|
       by_severity = report.issues.select { |i| i.severity.to_sym == severity }
       next if by_severity.empty?

       by_name = {}
       by_severity.each do |issue|
           by_name[issue.name] ||= []
           by_name[issue.name] << issue
       end

       grouped[by_severity.first.severity] = by_name
   end

   ap grouped
%>

<h2>Summary</h2>

<div id="summary-tabs">
    <% if report.issues.any? %>
        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#charts">Graphs</a></li>
            <li><a data-toggle="tab" href="#issue-list">Issues [<%= report.issues.size %>]</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="charts">
                <div id='chart-issues-container' class="clear">
                    <div id='chart-issues' class="clear">
                        Issues
                    </div>
                </div>

                <div id='pies' class="clear">
                    <div id="chart-severities">
                        Severities
                    </div>

                    <div id="chart-elements">
                        Elements
                    </div>

                    <div id="chart-trust">
                        Trust
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="issue-list">
                <div class="row">
                    <div class="col-md-6">
                        <%= erb :search, id: 'summary_issues_tab' %>
                    </div>
                </div>


                <% grouped.each do |severity, issues_by_name| %>
                    <h3><%= severity.to_s.capitalize %> severity</h3>

                    <div class="row">
                        <div class="col-md-6">
                            <% issues_by_name.each do |name, issues| %>

                                <div class="issue-summary">
                                    <h4>
                                        <%= name %>
                                    </h4>

                                    <blockquote>
                                        <p>
                                            <%= escapeHTML( issues.first.description ) %>
                                        </p>
                                    </blockquote>

                                    <ul>
                                        <% issues.each do |issue| %>
                                            <li>
                                                In <code><%= issue.vector.type %></code>

                                                <% if issue.active? %>
                                                    input <code><%= issue.affected_input_name %></code>
                                                <% end %>

                                                <% if issue.variations.first.request %>
                                                    using <code><%= issue.variations.first.request.method.to_s.upcase %></code>
                                                <% end %>

                                                at <a href="<%= issue.vector.action %>"><%= issue.vector.action %></a>.
                                            </li>
                                        <% end %>
                                    </ul>

                                </div>

                        <% end %>

                        </div>
                    </div>
                <% end %>
            </div>
        </div>

    <% else %>
        <p>
            <em>No issues have been identified.</em>
        </p>
    <% end %>
</div>
