<div class="issue">
    <h4>
        <%= issue.name %>
    </h4>

    <blockquote>
        <%= escapeHTML( issue.description ) %>

        <small>
            In <code><%= issue.vector.type %></code>

            <% if issue.active? %>
                input <code><%= issue.affected_input_name %></code>
            <% end %>

            <% if issue.variations.first.request %>
                using <code><%= issue.variations.first.request.method.to_s.upcase %></code>
            <% end %>

            at <a href="<%= issue.vector.action %>"><%= issue.vector.action %></a>.
        </small>
    </blockquote>
</div>
