
            <% if !jobs.empty? %>
                <form action="<%=root%>/delete" method="post">
                    <%= csrf_tag %>
                    <input type="submit" value="Delete all" />
                </form>
            <% end %>

        <div>

            <form action="<%=root%>/" method="post">
                <h2>Schedule a scan</h2>

                <i>You can configure the scan parameters just like you normally would.</i>
                <br/>

                Select a Dispatcher:
                <select name="dispatcher">
                <% if !dispatchers.first_alive%>
                        <option value="">None available, please add a Dispatcher to continue.</option>
                <%else%>
                    <% dispatcher_stats.each_pair do |d_url, stats| %>
                        <% next if !dispatchers.alive?( d_url ) %>
                        <option value="<%=d_url%>">
                            @<%=escape( d_url )%> - <%=stats['running_jobs'].size%> running scans,
                             <%=i=0;stats['running_jobs'].each{ |job| i+= proc_mem( job['proc']['rss'] ).to_i }; i.to_s%>MB RAM usage.
                        </option>
                    <%end%>
                <%end%>
                </select>

                URL: <input name="url" value="<%=session['opts']['settings']['url']%>" size="50" <% if !dispatchers.first_alive%>  disabled="disabled"<%end%> />
                Schedule for: <input id="datetime" name="datetime" <% if !dispatchers.first_alive%>  disabled="disabled"<%end%> />

                <%= csrf_tag %>
                <input type="submit" value="Add" <% if !dispatchers.first_alive%>  disabled="disabled"<%end%> />

            </form>
        </div>


        <% if !jobs.empty? %>
        <table>
            <tr>
                <th>ID</th>
                <th>Dispatcher</th>
                <th>Target</th>
                <th>Starts at</th>
                <th>Created by</th>
                <th>Created at</th>
            </tr>
        <% jobs.each do |job| %>
            <tr>


                <td><%=job.id%></td>
                <td><%=job.dispatcher%></td>
                <td><%=job.url%></td>
                <td><%=job.datetime%></td>
                <td><%=job.owner_host%> (<%=job.owner_addr%>)</td>
                <td><%=job.created_at%></td>
                <td>
                    <form action="<%=root%>/<%=job.id%>/delete" method="post">
                        <%= csrf_tag %>
                        <input type="submit" value="Delete" />
                    </form>

                    <form action="#" onsubmit="showDialog( '#dialog_options_<%=job.id%>' ); return;" >
                        <input type="submit" value="Options" />
                    </form>

                    <form action="#" onsubmit="showDialog( '#dialog_modules_<%=job.id%>' ); return;" >
                        <input type="submit" value="Modules" />
                    </form>

                    <form action="#" onsubmit="showDialog( '#dialog_plugins_<%=job.id%>' ); return;" >
                        <input type="submit" value="Plugins" />
                    </form>

                </td>
            </tr>
            <tr>

                <% stored_opts = YAML::load( job.opts ); opts = stored_opts['settings'] %>

                <%=partial :options, :job => job, :opts => opts %>

                <div style="display: none" id="dialog_modules_<%=job.id%>" title="Modules">
                    <p>
                        <ul>
                            <% stored_opts['modules'].each do |name| %>
                            <li><%=name%></li>
                            <%end%>
                        </ul>
                    </p>

                </div>

                <div style="display: none" id="dialog_plugins_<%=job.id%>" title="Plugins">
                    <p>
                        <ul>
                            <% stored_opts['plugins'].each do |plugin| %>
                            <li><%=plugin[0]%></li>
                            <%end%>
                        </ul>
                    </p>

                </div>


            </tr>
        <% end %>
        </table>
        <% else %>
        <p class="notice"> There are no scheduled scans at the moment.</p>
        <% end %>

            <script type="text/javascript">
                //<![CDATA[

                $('#datetime').datetimepicker();

                function showDialog( id ){
                    $( id ).dialog({
                        height: 500,
                        width: 1000,
                        modal: true
                    });
                }
             //]]>
            </script>
