
        <div>

            <form action="<%=root%>/" method="post">
                <h2>Perform a new deployment</h2>
                <br/>

                <fieldset>
                    <legend>SSH options:</legend>
                    Host: <input name="host" />
                    Port: <input name="port" value="22" size="4" />
                    Username: <input name="username" />
                    Password (will not be stored): <input name="password" type="password" />
                </fieldset>
                <br/>

                <fieldset>
                    <legend>Dispatcher options:</legend>
                    Port: <input name="dispatcher_port" value="7331" />
                </fieldset>
                <br/>

                <%= csrf_tag %>
                <input type="submit" value="Add" />
            </form>

            <% if show_output || !ret.empty? %>
            <br/>
            <h3>Output</h3>
            <b>Status: <span id="status"><%=ret[:status]%></span></b>
            <br/>
            <pre id="output" style="max-height: 400px; overflow: scroll"><%=ret[:output]%></pre>
            <% end %>

        </div>


        <% if !deployments.empty? %>
        <br/>
        <br/>

        <i>(Shutting down a Dispatcher will terminate all its running scans.)</i>
        <table>
            <tr>
                <th>ID</th>
                <th>Host</th>
                <th>SSH Port</th>
                <th>Dispatcher port</th>
                <th>Username</th>
                <th>Password</th>
                <th>Running?</th>
                <th>Created at</th>
                <th>Action</th>
            </tr>
        <% deployments.each do |dep| %>
            <tr>

                <form action="<%=root%>/<%=dep.id%>" method="post">
                    <td><%=dep.id%></td>
                    <td><%=dep.host%></td>
                    <td><%=dep.port%></td>
                    <td><%=dep.dispatcher_port%></td>
                    <td><%=dep.user%></td>
                    <td><input name="password" type="password" /></td>
                    <td><%=dep.alive%></td>
                    <td><%=dep.created_at%></td>
                    <td>
                        <%= csrf_tag %>
                        <input type="hidden" name="id" value="<%=dep.id%>">

                        <% if !dep.alive%>
                            <input type="radio" name="action" value="run"> Run <br/>
                        <%else%>
                            <input type="radio" name="action" value="shutdown"> Shutdown <br/>
                        <%end%>
                        <input type="radio" name="action" value="delete"> Uninstall & Delete <br/>

                        <input type="submit" value="Submit">
                    </td>
                </form>
            </tr>
        <% end %>
        </table>
        <% else %>
        <p class="notice">There are no deployments at the moment.</p>
        <% end %>

        <% if show_output%>
        <script type="text/javascript">
            //<![CDATA[

            function updateOutput() {
                if( !document.getElementById( 'output' ) ) return;

                var output_url = "<%=root%>/channel/<%=channel%>";
                $.getJSON( output_url, function(data) {
                    if( data.status == 'finished' ) {
                        window.location.replace( "<%=root%>/channel/<%=channel%>/finalize" );
                    } if( data.status == 'failed' ) {
                        document.getElementById( 'status' ).innerHTML = data.status;
                        obj = document.getElementById( 'output' );
                        obj.innerHTML = data.output;
                    } else {

                        document.getElementById( 'status' ).innerHTML = data.status;

                        obj = document.getElementById( 'output' );
                        obj.innerHTML = data.output;
                        obj.scrollTop = obj.scrollHeight;
                    }
                });
            }

            $( document ).ready(function() {

                updateOutput( );
                setInterval( function() {
                      updateOutput( );
                }, 1500 );

            })
             //]]>
        </script>
        <%end%>
