<div class="span6">
    <% (pages || []).each.with_index do |page, i| %>
        <div class="accordion-group">
            <div class="accordion-heading">
                <p class="btn accordion-toggle" data-toggle="collapse"
                   data-parent="#pages-accordion" href="#page<%= page.hash %>">
                    <%= html_encode page.title %>
                    -
                    <%= page.forms.size %> forms,
                    <%= page.links.size %> links and
                    <%= page.cookies.size %> cookies
                    <br/>
                    (<%= page.url %>)
                </p>
            </div>
            <div id="page<%= page.hash %>" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="well forms">
                        <h2>Forms</h2>
                        <% page.forms.each do |form| %>
                            <p>
                                <b>
                                    Action: <%= html_encode form.action %>
                                    (method <%= form.method.to_s.upcase %>)
                                </b>
                                <ul>
                                    <% form.inputs.each do |k, v| %>
                                        <li><%= k.inspect %> = <%= v.inspect %></li>
                                    <% end %>
                                </ul>
                            </p>
                            <hr />
                        <% end %>
                    </div>
                    <div class="well links">
                        <h2>Links</h2>
                        <% page.links.each do |link| %>
                            <p>
                                <b>Action: <%= html_encode link.action %></b>
                            <ul>
                                <% link.inputs.each do |k, v| %>
                                    <li><%= k.inspect %> = <%= v.inspect %></li>
                                <% end %>
                            </ul>
                            </p>
                            <hr />
                        <% end %>
                    </div>
                    <div class="well links">
                        <h2>Cookies</h2>
                        <% page.cookies.each do |cookie| %>
                            <p>
                                <b>Action: <%= html_encode cookie.action %></b>
                            <ul>
                                <% cookie.inputs.each do |k, v| %>
                                    <li><%= k.inspect %> = <%= v.inspect %></li>
                                <% end %>
                            </ul>
                            </p>
                            <hr />
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
