<div class="navbar navbar-fixed-top">
    <nav class="navbar-inner">
        <div class="container">
            <ul class="nav">

                <li id='start-recording'>
                    <a rel="tooltip" title="Start recording a login sequence"
                       href="<%= root_url %>record/start">
                        <img class="faded" src="<%= img_url %>record.png" alt="" />
                    </a>
                </li>

                <li id='stop-recording'>
                    <a title="Stop recording" class="newWindow"
                       href="<%= root_url %>record/stop">
                        <i class="faded icon-stop icon-white"></i>
                    </a>
                </li>
                <li id='export'>
                    <a title="Export the logged vectors in YAML format."
                       class="newWindow" href="<%= vectors_url %>">
                        <i class="faded icon-download icon-white"></i>
                    </a>
                </li>
                <li id='loading'>
                    <div class="progress progress-striped active">
                        <div class="bar"></div>
                    </div>

                </li>
            </ul>

            <ul class="nav pull-right">
                <li id='shutdown'>
                    <a class="pull-right" title="Shutdown the proxy and start the scan"
                       href="<%= shutdown_url %>">
                        <i class="faded icon-off icon-white"></i>
                    </a>
                </li>
                <li id='help'>
                    <a class="pull-right newWindow" title="Show help"
                       href="<%= root_url %>help">
                    <i class="faded icon-question-sign icon-white"></i>
                    </a>
                </li>
            </ul>
        </div>

    </nav>
</div>

<script type="text/javascript">
    $(window).ready( function( $ ) {
<% if content_for( :recording ) %>
        $('#stop-recording').show();
        $('#start-recording').hide();
<% else %>
        $('#start-recording').show();
        $('#stop-recording').hide();
<% end %>
    })
</script>

<%= erb :inspect, layout: false %>
