<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="<%= id_to_location( "#{id}-stacktrace" ) %>">
                    <i class="fa fa-link"></i>
                </a>

                <a data-toggle="collapse" href="#<%= id %>-stacktrace">
                    Stacktrace
                </a>
            </h4>
        </div>

        <div id="<%= id %>-stacktrace" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-condensed">
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            URL
                        </th>
                        <th>
                            Line
                        </th>
                        <th>
                            Function
                        </th>
                        <th>
                            Arguments
                        </th>
                    </tr>
                    <% trace.each.with_index do |frame, i| %>
                        <tr
                        id="<%= id %>-stacktrace-<%= i %>"
                        >
                            <th>
                                <strong>
                                    <a href="<%= id_to_location id %>/stacktrace/<%= i %>">
                                        <%= i %>
                                    </a>
                                </strong>
                            </th>
                            <td>
                                <a href="<%= escapeHTML frame.url %>">
                                    <%= escapeHTML frame.url %>
                                </a>
                            </td>
                            <td>
                                <%= frame.line %>
                            </td>
                            <td>
                                <% if frame.function %>
                                    <code><%= frame.function %></code>
                                <% end %>
                            </td>
                            <td>
                                <% if frame.function %>
                                    <%= data_dump frame.arguments %>
                                <% end %>
                            </td>
                        </tr>
                        <tr>
                            <%= erb 'issue/page/sink/frame/source.erb',
                                    id:    "#{id}-stacktrace-#{i}",
                                    frame: frame,
                                    page:  page
                            %>
                        </tr>
                    <% end %>
                </table>
            </div>
        </div>
    </div>
</div>
