<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#<%= id %>_stacktrace">
                    Stacktrace
                </a>
            </h4>
        </div>
        <div id="<%= id %>_stacktrace" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-condensed">
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            URL
                        </th>
                        <th>
                            Line
                        </th>
                        <th>
                            Function
                        </th>
                        <th>
                            Arguments
                        </th>
                    </tr>
                    <% trace.each.with_index do |frame, j| %>
                        <tr>
                            <td><%= j %></td>
                            <td>
                                <a href="<%= escapeHTML frame.url %>">
                                    <%= escapeHTML frame.url %>
                                </a>
                            </td>
                            <td>
                                <%= frame.line %>
                            </td>
                            <td>
                                <% if frame.function %>
                                    <code><%= frame.function %></code>
                                <% end %>
                            </td>
                            <td>
                                <% if frame.function %>
                                    <code><%= escapeHTML frame.arguments.inspect %></code>
                                <% end %>
                            </td>
                        </tr>

                            <tr>
                                <%= erb 'issue/shared/page/sink/frame/source.erb',
                                        id:    "#{id}_stacktrace_#{j}",
                                        frame: frame,
                                        page:  page
                                %>
                            </tr>
                    <% end %>
                </table>
            </div>
        </div>
    </div>
</div>
