<% if (frame.line.to_i > 0 && frame.url == page.dom.url) || !frame.source.to_s.empty? %>
    <td colspan="5" class="borderless">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="<%= id_to_location( "#{id}-source" ) %>">
                            <i class="fa fa-link"></i>
                        </a>

                        <a data-toggle="collapse" href="#<%= id %>-source">
                            Source
                        </a>
                    </h4>
                </div>

                <div id="<%= id %>-source" class="panel-collapse collapse">
                    <div class="panel-body">
                        <% if frame.line.to_i > 0 && frame.url == page.dom.url %>
                            <strong>Page</strong>

                            <strong>
                                <a
                                id="<%= id %>-source-page"
                                href="<%= id_to_location id %>/source/page">
                                    Page
                                </a>
                            </strong>

                            <%=
                                lines = code_highlight( page.body, :html ).lines
                                from = [0, frame.line-5].max
                                upto = [lines.size, frame.line+5].min

                                code = '<table class="CodeRay"><tbody><tr><td class="line-numbers"><pre>'

                                from.upto(upto) do |i|
                                    code << (frame.line == i ? "<strong>#{i}</strong>\n" : "#{i}\n")
                                end

                                code << '</pre></td><td class="code"><pre>'

                                from.upto(upto) do |i|
                                    line = lines[i]
                                    code << (frame.line == i ? "<strong>#{line}</strong>" : "#{line}")
                                end

                                code + '</pre></td></tr></tbody></table>'
                            %>
                        <% end %>

                        <% if !frame.source.to_s.empty? %>
                            <strong>
                                <a
                                id="<%= id %>-source-function"
                                href="<%= id_to_location id %>/source/function">
                                    Function
                                </a>
                            </strong>

                            <%= code_highlight( frame.source, :javascript, line_numbers: :table ) %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </td>
<% end %>
