<%=
    if vector.respond_to?( :html ) && !vector.html.to_s.empty?
        CodeRay.scan(vector.html, :html).div(line_numbers: :table)
    end
%>

<table class="table">
    <tr>
        <th>Type</th>
        <th>In</th>
        <th>Action</th>
        <th>Default inputs</th>
        <th>Updated inputs</th>
    </tr>
    <tr>
        <td><code><%= vector.type %></code></td>
        <td>
            <a href="<%= escapeHTML vector.url %>">
                <%= escapeHTML vector.url %>
            </a>
        </td>
        <td>
            <a href="<%= escapeHTML vector.action %>">
                <%= escapeHTML vector.action %>
            </a>
        </td>
        <td>
            <%= erb 'shared/hash.erb', object: vector.default_inputs %>
        </td>
        <td>
            <%= erb 'shared/hash.erb', object: vector.inputs %>
        </td>
    </tr>
</table>
