<div id="issues-<%= trust %>-severities-tabs">
    <ul class="nav nav-tabs">

        <% grouped.keys.each.with_index do |severity, i| %>
            <li <%= 'class="active"' if i == 0 %> >
                <a data-toggle="tab" href="#issues-<%= trust %>-severity-<%= severity %>">
                    <%= severity.to_s.capitalize %>

                    <span class="badge">
                        <%= graph_data["#{trust}_severities".to_sym][severity.to_sym] %>
                    </span>
                </a>
            </li>
        <% end %>
    </ul>
</div>

<div class="tab-content">
    <% grouped.each do |severity, issues_by_name| %>
        <div class="tab-pane active" id="issues-<%= trust %>-severity-<%= severity %>">

            <% issues_by_name.each do |name, issues| %>
                <div class="row">
                    <div class="col-md-10">
                        <h3>
                            <a id="issues-<%= trust %>-severity-<%= severity %>-<%= issues.first.check[:shortname] %>"
                               href="#issues-<%= trust %>-severity-<%= severity %>-<%= issues.first.check[:shortname] %>">
                                <%= name %>

                                <span class="badge">
                                    <%= issues.size %>
                                </span>
                            </a>
                        </h3>

                        <p>
                            <%= escapeHTML issues.first.description %>
                        </p>
                    </div>

                    <div class="col-md-2">
                        <strong>References</strong>
                        <hr/>
                        <ul class="list-unstyled">
                            <% issues.first.references.each do |ref_name, url| %>
                                <li>
                                    <a href="<%= url %>"> <%= ref_name %></a>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                </div>

                <% issues.each do |issue| %>
                    <%= erb :issue, issue: issue, id: "issues-#{trust}-severity-#{severity}-#{issues.first.check[:shortname]}" %>

                    <hr/>
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>
