<%
   variation = issue.variations.first
%>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#<%= id %>-vector">
                    Vector information
                </a>
            </h4>
        </div>
        <div id="<%= id %>-vector" class="panel-collapse collapse in">
            <div class="panel-body">
                <%=
                    return if !issue.vector.respond_to? :html
                    CodeRay.scan(issue.vector.html, :html).div(line_numbers: :table)
                %>

                <table class="table">
                    <tr>
                        <th>Type</th>
                        <th>In</th>
                        <th>Action</th>
                        <th>Default inputs</th>
                        <th>Updated inputs</th>
                    </tr>
                    <tr>
                        <td><code><%= issue.vector.type %></code></td>
                        <td><%= escapeHTML issue.vector.url %></td>
                        <td><%= escapeHTML issue.vector.action %></td>
                        <td>
                            <%= erb 'shared/hash.erb', object: issue.vector.default_inputs %>
                        </td>
                        <td>
                            <%= erb 'shared/hash.erb', object: issue.vector.inputs %>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#<%= id %>-affected_page">
                    Affected page:

                    <code><%= escapeHTML(variation.page.dom.url) %></code>
                </a>
            </h4>
        </div>
        <div id="<%= id %>-affected_page" class="panel-collapse collapse">
            <div class="panel-body">
                <%= erb 'issue/shared/page.erb', page: variation.page %>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#<%= id %>-referring_page">
                    Referring page:

                    <code><%= escapeHTML(variation.referring_page.dom.url) %></code>
                </a>
            </h4>
        </div>
        <div id="<%= id %>-referring_page" class="panel-collapse collapse">
            <div class="panel-body">
                <%= erb 'issue/shared/page.erb', page: variation.referring_page %>
            </div>
        </div>
    </div>
</div>
