<% if page.dom.transitions.any? %>
    <div class="row">
        <div class="col-md-12">
            <strong>Transitions</strong>
            <%= erb 'issue/page/transitions.erb', id: id, page: page %>
        </div>
    </div>

    <hr/>
<% end %>

<% if page.dom.data_flow_sink.any? %>
    <div class="row">
        <div class="col-md-12">
            <strong>Data flow sinks</strong>

            <%= erb 'issue/page/sink/data_flow.erb', id: id, page: page %>
        </div>
    </div>

    <hr/>
<% end %>

<% if page.dom.execution_flow_sink.any? %>
    <div class="row">
        <div class="col-md-12">
            <strong>Execution flow sinks</strong>

            <%= erb 'issue/page/sink/execution_flow.erb', id: id, page: page %>
        </div>
    </div>

    <hr/>
<% end %>

<% if !page.body.empty? %>
<div class="row">
    <div class="col-md-12">
        <strong>Body</strong>
        <%= code_highlight( page.body, :html, line_numbers: :table ) %>
    </div>
</div>

<hr/>
<% end %>

<div class="row">
    <div class="col-md-6">
        <strong>HTTP request</strong>
        <pre class="code-container"><%= escapeHTML(page.request) %></pre>
    </div>

    <div class="col-md-6">
        <strong>HTTP response</strong>
        <pre class="code-container"><%= escapeHTML(page.response) %></pre>
    </div>
</div>
