<% if page.dom.transitions.any? %>
    <div class="row">
        <div class="col-md-12">
            <strong>Transitions</strong>

            <table class="table table-condensed">
                <tr>
                    <th>Time</th>
                    <th>Event</th>
                    <th>Element</th>
                    <th>Options</th>
                </tr>

                <% page.dom.transitions.each do |transition| %>
                    <tr>
                        <td><%= transition.time %></td>
                        <td><code><%= transition.event %></code></td>
                        <td><code><%= escapeHTML transition.element %></code></td>
                        <td>
                            <table class="table table-condensed table-borderless well">
                                <% if (url = transition.options[:url]) %>
                                    <tr>
                                        <th>URL</th>
                                        <td>
                                            <a href="<%= escapeHTML url %>">
                                                <%= escapeHTML url %>
                                            </a>
                                        </td>
                                    </tr>
                                <% end %>

                                <% if (cookies = transition.options[:cookies] || []).any? %>
                                    <tr>
                                        <th>Cookies</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <%=
                                                erb 'shared/hash.erb',
                                                    code: true,
                                                    object: cookies.inject({}) { |h, c| c.inputs }
                                            %>
                                        </td>
                                    </tr>
                                <% end %>

                                <% if (inputs = transition.options[:inputs] || {}).any? %>
                                    <tr>
                                        <th>Inputs</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <%= erb 'shared/hash.erb', code: true, object: inputs %>
                                        </td>
                                    </tr>
                                <% end %>

                                <% if (value = transition.options[:value])  %>
                                    <tr>
                                        <th>Value</th>
                                        <td>
                                            <code><%= escapeHTML value %></code>
                                        </td>
                                    </tr>
                                <% end %>
                            </table>
                        </td>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>

    <hr/>
<% end %>

<% if page.dom.data_flow_sink.any? %>
    <div class="row">
        <div class="col-md-12">
            <strong>Data flow sinks</strong>

            <%= erb 'issue/page/sink/data_flow.erb', id: id, page: page %>
        </div>
    </div>

    <hr/>
<% end %>

<% if page.dom.execution_flow_sink.any? %>
    <div class="row">
        <div class="col-md-12">
            <strong>Execution flow sinks</strong>

            <%= erb 'issue/page/sink/execution_flow.erb', id: id, page: page %>
        </div>
    </div>

    <hr/>
<% end %>

<% if !page.body.empty? %>
<div class="row">
    <div class="col-md-12">
        <strong>Body</strong>
        <%= code_highlight( page.body, :html, line_numbers: :table ) %>
    </div>
</div>

<hr/>
<% end %>

<div class="row">
    <div class="col-md-6">
        <strong>HTTP request</strong>
        <pre class="code-container"><%= escapeHTML(page.request) %></pre>
    </div>

    <div class="col-md-6">
        <strong>HTTP response</strong>
        <pre class="code-container"><%= escapeHTML(page.response) %></pre>
    </div>
</div>
