
            <% if !jobs.empty? %>
                <form action="<%=root%>/delete" method="post">
                    <%= csrf_tag %>
                    <input type="submit" value="Delete all" />
                </form>
            <% end %>

        <div>

            <form action="<%=root%>/" method="post">
                <h2>Schedule a scan</h2>

                <em>You can configure the scan parameters just like you normally would.</em>
                <br/>

                <table>
                    <tr>
                        <td>
                            Select a Dispatcher:
                        </td>
                        <td>
                            <select id="dispatcher" name="dispatcher">
                            <% if d_stats.empty?%>
                                    <option value="">None available, please add a Dispatcher to continue.</option>
                            <%else%>
                                <% d_stats.each_pair do |d_url, stats| %>
                                    <option value="<%=d_url%>"><%=show_dispatcher_line( stats ) %>
                                        <%= !stats['neighbours'].empty? ? '[HP]' : nil %>
                                    </option>
                                <%end%>
                            <%end%>
                            </select>
                        </td>
                    </tr>
                    <tr class="hpg">
                        <td>
                            Use High Performance Grid (HPG) mode
                         </td>
                         <td>
                            <input type="checkbox" id="high_performance_checkbox" name="high_performance" />
                         </td>
                    </tr>
                    <tr class="hpg_options">
                        <td></td>
                        <td>
                            Use a maximum of
                            <input name="max_slaves" value="10" size="1" /> slave instances with at least <input name="min_pages_per_instance" value="30" size="1" /> pages per instance.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            URL
                        </td>
                        <td>
                            <input name="url" value="<%=session['opts']['settings']['url']%>" size="50" <% if d_stats.empty?%>  disabled="disabled"<%end%> />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Schedule for:
                        </td>
                        <td>
                            <input id="datetime" name="datetime" <% if d_stats.empty?%>  disabled="disabled"<%end%> />
                        </td>
                    </tr>
                </table>

                <input type="submit" value="Add" <% if d_stats.empty?%>  disabled="disabled"<%end%> />
                <%= csrf_tag %>
            </form>
        </div>

        <%= erb :'js/home', { layout: false }, stats: d_stats %>

        <% if !jobs.empty? %>
        <table>
            <tr>
                <th>ID</th>
                <th>Dispatcher</th>
                <th>Target</th>
                <th>Starts at</th>
                <th>Created by</th>
                <th>Created at</th>
            </tr>
        <% jobs.each do |job| %>
            <tr>


                <td><%=job.id%></td>
                <td><%=job.dispatcher%></td>
                <td><%=job.url%></td>
                <td><%=job.datetime.to_time%> (<%= secs_to_hms( job.datetime.to_time - Time.now ) %>)</td>
                <td><%=job.owner_host%> (<%=job.owner_addr%>)</td>
                <td><%=job.created_at.to_time%></td>
                <td>
                    <form action="<%=root%>/<%=job.id%>/delete" method="post">
                        <%= csrf_tag %>
                        <input type="submit" value="Delete" />
                    </form>

                    <form action="#" onsubmit="showDialog( '#dialog_options_<%=job.id%>' ); return;" >
                        <input type="submit" value="Options" />
                    </form>

                    <form action="#" onsubmit="showDialog( '#dialog_modules_<%=job.id%>' ); return;" >
                        <input type="submit" value="Modules" />
                    </form>

                    <form action="#" onsubmit="showDialog( '#dialog_plugins_<%=job.id%>' ); return;" >
                        <input type="submit" value="Plugins" />
                    </form>

                </td>
            </tr>
            <tr>

                <% stored_opts = YAML::load( job.opts ); opts = stored_opts['settings'] %>

                <%=partial :options, :job => job, :opts => opts %>

                <div style="display: none" id="dialog_modules_<%=job.id%>" title="Modules">
                    <p>
                        <ul>
                            <% stored_opts['modules'].each do |name| %>
                            <li><%=name%></li>
                            <%end%>
                        </ul>
                    </p>

                </div>

                <div style="display: none" id="dialog_plugins_<%=job.id%>" title="Plugins">
                    <p>
                        <ul>
                            <% stored_opts['plugins'].each do |plugin| %>
                            <li><%=plugin[0]%></li>
                            <%end%>
                        </ul>
                    </p>

                </div>


            </tr>
        <% end %>
        </table>
        <% else %>
        <p class="notice"> There are no scheduled scans at the moment.</p>
        <% end %>

            <script type="text/javascript">
                //<![CDATA[

                $('#datetime').datetimepicker();

                function showDialog( id ){
                    $( id ).dialog({
                        height: 500,
                        width: 1000,
                        modal: true
                    });
                }
             //]]>
            </script>
