

        <div style="display: none" id="dialog_options_<%=job.id%>" title="Options">

            <div class="left options">
                <fieldset>
                    <legend>Auditor</legend>
                    <p>
                        Audit links: <input disabled type="checkbox" name="audit_links" <% if opts['audit_links'] == true %> checked="checked" <% end %> />
                    </p>
                    <p>
                        Audit forms: <input disabled type="checkbox" name="audit_forms" <% if opts['audit_forms'] == true %> checked="checked" <% end %> />
                    </p>
                    <p>
                        Audit cookies: <input disabled type="checkbox" name="audit_cookies" <% if opts['audit_cookies'] == true %> checked="checked" <% end %> />
                    </p>
                    <p>
                        Audit headers: <input disabled type="checkbox" name="audit_headers" <% if opts['audit_headers'] == true %> checked="checked" <% end %> />
                    </p>
                    <p>
                        Cookies to exclude: <textarea disabled rows="2" cols="20" name="exclude_cookies"><%=opts['exclude_cookies']%></textarea>
                        <br/>(Newline separated)
                    </p>
                </fieldset>

                <fieldset>
                    <legend>HTTP options</legend>
                    <p>
                        Cocurrent HTTP request limit: <label for="http_req_limit"></label>
                                                      <input disabled id="http_req_limit" name="http_req_limit"/>
                        <div id="slider"></div>
                        <br/>
                    </p>
                    <p>
                        Cookie jar: <input disabled type="file" name="cookiejar" size="25" />
                    </p>
                    <p>
                        User agent: <input disabled name="user_agent" value="<%=opts['user_agent']%>"/>
                    </p>
                    <p>
                        Authorized by: <input disabled name="authed_by" value="<%=opts['authed_by']%>"/>
                    </p>

                </fieldset>
            </div>

            <div class="right options">

                <fieldset>
                    <legend>Crawler options</legend>
                    <p>
                        Exclude rules: <textarea disabled rows="2" cols="20" name="exclude"><% if opts['exclude']%><%=opts['exclude'].join( "\r\n" )%><%end%></textarea>
                        <br/>(Newline separated)
                    </p>
                    <p>
                    Include rules: <textarea disabled rows="2" cols="20" name="include"><% if opts['include']%><%=opts['include'].join( "\r\n" )%><%end%></textarea>
                        <br/>(Newline separated)
                    </p>
                    <p>
                        Redundant rules: <textarea disabled rows="2" cols="20" name="redundant"><%=format_redundants( opts['redundant'] )%></textarea>
                    <br/>(Newline separated)
                    <br/>(<em>regexp:counter</em>)
                    </p>
                    <p>
                        Depth: <input disabled name="depth_limit" value="<%=opts['depth_limit']%>"/>
                        <br/>(Default: infinite)
                    </p>
                    <p>
                        Link count limit: <input disabled name="link_count_limit" value="<%=opts['link_count_limit']%>"/>
                        <br/>(Default: infinite)
                    </p>
                    <p>
                        Redirect limit: <input disabled name="redirect_limit" value="<%=opts['redirect_limit']%>"/>
                        <br/>(Default: infinite)
                    </p>
                    <p>
                        Follow subdomain: <input disabled type="checkbox" name="follow_subdomains" <% if opts['follow_subdomains'] == true %> checked="checked" <% end %> />
                    </p>
                    <p>
                        Obey robot.txt file: <input disabled type="checkbox" name="obey_robots_txt" <% if opts['obey_robots_txt'] == true %> checked="checked" <% end %> />
                    </p>
                    <p>
                        Spider first: <input disabled type="checkbox" name="spider_first" <% if opts['spider_first'] == true %> checked="checked" <% end %> />
                    </p>
                </fieldset>

            </div>

        </div>

