
            <div id="page-intro">
                <h2><%=escape( addon['name'] )%> v<%=escape( addon['version'] )%></h2>
                <p>
                    <%=escape( addon['description'] )%>
                    <br/>
                    <i>By <%=escape( addon['author'] )%></i>
                </p>
            </div>

            <%= erb :flash, {:layout => false} %>


            <%= erb tpl, {:layout => false}, tpl_args %>

