
        <div id="page-intro">
            <form action="/addons" method="post">

            <h2>Add-ons</h2>
            <p>This page allows you to enable add-ons in order to extend the functionality of the WebUI.
            <br/><br/>
            </p>

            <% if !addons.available.empty? %>
                    <%= csrf_tag %>
                    <input type="submit" value="Save" />
            <% end %>

        </div>
        <%= erb :flash, {:layout => false} %>

        <% if !addons.available.empty? %>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Author</th>
                <th>Version</th>
                <th>Enable</th>
            </tr>
        <% addons.available.each do |addon| %>
            <tr>

                <td><%=escape( addon['name'] )%></td>
                <td><%=escape( addon['description'] )%></td>
                <td><%=escape( addon['author'] )%></td>
                <td><%=escape( addon['version'] )%></td>

                <td>
                    <input type="checkbox" class="audit" name="addons[<%=addon['filename']%>]"
                        <% if addons.enabled.include?( addon['filename'] ) %>
                        checked="checked" <% end %> />
                </td>
            </tr>
        <% end %>
        </table>
        </form>
        <% else %>
        <span class="notice"> There are no available add-ons at the moment.</span>
        <% end %>
