        <div id='help' style='display: none' title="Help">
            <h2>Starting a scan</h2>

            <h4>Single</h4>
            <p>
                A single scan can be performed easily enough, you just select a Dispatcher,
                enter the URL of your target and hit "Launch Scan".
            </p>

            <h4>High Performance</h4>
            <p>
                A high performance scan utilizes more than one Arachni Instance to perform the audit.<br/>
                The master instance will perform the crawl and then calculate and distribute the workload amongst its slaves.<br/>
                This allows scan-time to be severely decreased, by as much as n times less under ideal circumstances, where n equals the number of running instances.
            </p>
            <p>
                You can find more info <a href="https://github.com/Arachni/arachni/wiki/Web-user-interface#wiki-usage_start-a-scan_hpg">here</a>.
            </p>
        </div>

        <button style='display: inline' onclick="$('#help').dialog( { height: 530, width: 500 } );return false;">Help</button>

        <form action="/scan" method="post" style='display: inline' >

            <%= csrf_tag %>
            <input type="submit" value="Launch Scan" />

            <div id="page-intro">
                <div class="left">
                    Select a Dispatcher:
                    <select id="dispatcher" name="dispatcher">
                    <% stats.each_pair do |d_url, d_stats| %>
                        <option value="<%=d_url%>">
                            <%=show_dispatcher_line( d_stats )%>
                            <%= !d_stats['neighbours'].empty? ? '[HP]' : nil %>
                        </option>
                    <%end%>
                    </select>

                    <span class="hpg">
                        <br/>
                        Use High Performance Grid (HPG) mode <input type="checkbox" id="high_performance_checkbox" name="high_performance" />
                        <strong>Attention:</strong> The HPG is highly unstable and experimental.
                    </span>

                    <h2>URL: <input name="url" value="<%=session['opts']['settings']['url']%>" size="50" /></h2>
                </div>

                <div class="left hpg_options">
                    <h2>Distribution options</h2>
                    Use a maximum of <input name="max_slaves" value="10" size="2" />
                    slave instances with at least <input name="min_pages_per_instance" value="30" size="2" /> pages per instance.
                </div>
            </div>

        </form>

        <%= erb :'js/home', { layout: false }, stats: stats %>

        <%= erb :flash, {:layout => false} %>
