
        <form action="/scan" method="post">

            <%= csrf_tag %>
            <input type="submit" value="Launch Scan" />

            <div id="page-intro">
                <div class="left">
                    Select a Dispatcher:
                    <select id="dispatcher" name="dispatcher">
                    <% stats.each_pair do |d_url, d_stats| %>
                        <option value="<%=d_url%>">
                            <%=show_dispatcher_line( d_stats )%>
                            <%= !d_stats['neighbours'].empty? ? '[HP]' : nil %>
                        </option>
                    <%end%>
                    </select>

                    <span class="hpg">
                        <br/>
                        Use High Performance Grid (HPG) mode <input type="checkbox" id="high_performance_checkbox" name="high_performance" />
                        <strong>Attention:</strong> The HPG is highly unstable and experimental.
                    </span>

                    <h2>URL: <input name="url" value="<%=session['opts']['settings']['url']%>" size="50" /></h2>
                </div>

                <div class="left hpg_options">
                    <h2>Distribution options</h2>
                    Use a maximum of <input name="max_slaves" value="10" size="1" /> slave instances with at least <input name="min_pages_per_instance" value="30" size="1" /> pages per instance.
                </div>
            </div>

        </form>

        <%= erb :'js/home', { layout: false }, stats: stats %>

        <%= erb :flash, {:layout => false} %>
