        <div id='help' style='display: none' title="Help">
            <h2>Settings</h2>
            <p>
                These settings have the same effect as their <a href="https://github.com/Arachni/arachni/wiki/Command-line-user-interface">Command Line Interface</a> counterparts.
            </p>

        </div>

        <button onclick="$('#help').dialog( { height: 530, width: 500 } );">Help</button>

        <script type="text/javascript">
            $(function() {
                $( "#slider" ).slider({
                    value: <%=session['opts']['settings']['http_req_limit']%>,
                    min: 1,
                    max: 200,
                    step: 1,
                    slide: function( event, ui ) {
                        $( "#http_req_limit" ).val( ui.value );
                    }
                });
                $( "#http_req_limit" ).val( $( "#slider" ).slider( "value" ) );
            });
        </script>

        <form action="/settings" method="post" enctype="multipart/form-data">

                <%= csrf_tag %>
                <div id="page-intro">
                    <h2>Settings</h2>
                    <p>General settings regarding the internals of the Arachni Framework.
                        <br/>
                     </p>
                    <p>
                        <input type="submit" class="reset" value="Save" />
                    </p>
                </div>

            <%= erb :flash, {:layout => false} %>

            <div class="left options">
                <fieldset>
                    <legend>Auditor</legend>
                    <p>
                        Audit links: <input type="checkbox" name="audit_links" <% if session['opts']['settings']['audit_links'] == true %> checked="checked" <% end %> />
                    </p>
                    <p>
                        Audit forms: <input type="checkbox" name="audit_forms" <% if session['opts']['settings']['audit_forms'] == true %> checked="checked" <% end %> />
                    </p>
                    <p>
                        Audit cookies: <input type="checkbox" name="audit_cookies" <% if session['opts']['settings']['audit_cookies'] == true %> checked="checked" <% end %> />
                    </p>
                    <p>
                        Audit headers: <input type="checkbox" name="audit_headers" <% if session['opts']['settings']['audit_headers'] == true %> checked="checked" <% end %> />
                    </p>
                    <p>
                        Cookies to exclude: <textarea rows="2" cols="20" name="exclude_cookies"><%=session['opts']['settings']['exclude_cookies']%></textarea>
                        <br/>(Newline separated)
                    </p>
                    <p>
                        Input vectors (parameters) to exclude (by name): <textarea rows="2" cols="20" name="exclude_vectors"><%=session['opts']['settings']['exclude_vectors']%></textarea>
                        <br/>(Newline separated)
                    </p>
                </fieldset>

                <fieldset>
                    <legend>HTTP options</legend>
                    <p>
                        Concurrent HTTP request limit: <label for="http_req_limit"></label>
                                                      <input id="http_req_limit" name="http_req_limit"/>
                        <div id="slider"></div>
                        <br/>
                    </p>
                    <p>
                        Cookie jar: <input type="file" name="cookiejar" size="25" />
                    </p>
                  <p>
                      Cookie string: <input name="cookie_string" size="50" value="<%=session['opts']['settings']['cookie_string']%>"/>
                      <br/>(In the form of: <pre style='display: inline'>cookie_name=cookie_value; cookie_name_2=cookie_value_2;</pre>)
                  </p>
                    <p>
                        User agent: <input name="user_agent" value="<%=session['opts']['settings']['user_agent']%>"/>
                    </p>
                    <p>
                        Authorized by: <input name="authed_by" value="<%=session['opts']['settings']['authed_by']%>"/>
                    </p>
                    <p>
                        Proxy address: <input name="proxy_host" value="<%=session['opts']['settings']['proxy_host']%>"/>
                    </p>
                    <p>
                        Proxy port: <input name="proxy_port" value="<%=session['opts']['settings']['proxy_port']%>"/>
                    </p>
                    <p>
                        Proxy username: <input name="proxy_username" value="<%=session['opts']['settings']['proxy_username']%>"/>
                    </p>
                    <p>
                        Proxy password: <input name="proxy_password" value="<%=session['opts']['settings']['proxy_password']%>"/>
                    </p>
                    <p>
                        Proxy type:
                        <select style="float: right" name="proxy_type">
                            <option value="http">HTTP 1.1</option>
                            <option value="http_1_0">HTTP 1.0</option>
                            <option value="socks4">SOCKS v4</option>
                            <option value="socks5">SOCKS v5</option>
                            <option value="socks4a">SOCKS v4a</option>
                        </select>

                    </p>
                    <p>
                        Custom HTTP headers: <textarea rows="2" cols="20" name="custom_headers"><%= format_custom_headers( session['opts']['settings']['custom_headers'] ) %></textarea>
                    <br/>(Newline separated)
                    <br/>(<em>header=value</em>)
                    </p>

                </fieldset>
            </div>

            <div class="right options">

                <fieldset>
                    <legend>Crawler options</legend>
                    <p>
                        Exclude rules: <textarea rows="2" cols="20" name="exclude"><% if session['opts']['settings']['exclude']%><%=session['opts']['settings']['exclude'].join( "\r\n" )%><%end%></textarea>
                        <br/>(Newline separated)
                    </p>
                    <p>
                    Include rules: <textarea rows="2" cols="20" name="include"><% if session['opts']['settings']['include']%><%=session['opts']['settings']['include'].join( "\r\n" )%><%end%></textarea>
                        <br/>(Newline separated)
                    </p>
                    <p>
                        Redundant rules: <textarea rows="2" cols="20" name="redundant"><%=format_redundants( session['opts']['settings']['redundant'] )%></textarea>
                    <br/>(Newline separated)
                    <br/>(<em>regexp:counter</em>)
                    </p>
                    <p>
                        Depth: <input name="depth_limit" value="<%=session['opts']['settings']['depth_limit']%>"/>
                        <br/>(Default: infinite)
                    </p>
                    <p>
                        Link count limit: <input name="link_count_limit" value="<%=session['opts']['settings']['link_count_limit']%>"/>
                        <br/>(Default: infinite)
                    </p>
                    <p>
                        Redirect limit: <input name="redirect_limit" value="<%=session['opts']['settings']['redirect_limit']%>"/>
                        <br/>(Default: infinite)
                    </p>
                    <p>
                        Follow subdomain: <input type="checkbox" name="follow_subdomains" <% if session['opts']['settings']['follow_subdomains'] == true %> checked="checked" <% end %> />
                    </p>
                    <p>
                        Obey robot.txt file: <input type="checkbox" name="obey_robots_txt" <% if session['opts']['settings']['obey_robots_txt'] == true %> checked="checked" <% end %> />
                    </p>
                    <p>
                        Extend paths: <input type="file" name="extend_paths" size="25" />
                        <br/>(Newline separated)
                    </p>
                    <p>
                        Restrict paths: <input type="file" name="restrict_paths" size="25" />
                        <br/>(Newline separated)
                    </p>

                </fieldset>

            </div>

        </form>

