<table class="table table-condensed">
    <tr>
        <th>
            #
        </th>
        <th>
            URL
        </th>
        <th>
            Line
        </th>
        <th>
            Function
        </th>
        <th>
            Arguments
        </th>
    </tr>
    <% trace.each.with_index do |frame, i| %>
        <tr
        id="<%= id %>-<%= i %>"
        >
            <th>
                <strong>
                    <a href="<%= id_to_location id %>/stacktrace/<%= i %>">
                        <%= i %>
                    </a>
                </strong>
            </th>
            <td>
                <a href="<%= escapeHTML frame.url %>">
                    <%= escapeHTML frame.url %>
                </a>
            </td>
            <td>
                <% if frame.line.to_i > 0 && frame.url == page.dom.url %>
                    <a href="<%= id_to_location id %>/stacktrace/<%= i %>/source/page/<% frame.line %>">
                        <%= frame.line %>
                    </a>
                <% else %>
                    <%= frame.line %>
                <% end %>
            </td>
            <td>
                <% if frame.function %>
                    <code><%= frame.function %></code>
                <% end %>
            </td>
            <td>
                <% if frame.function %>
                    <%= data_dump frame.arguments %>
                <% end %>
            </td>
        </tr>
        <% if (frame.line.to_i > 0 && frame.url == page.dom.url) || !frame.source.to_s.empty? %>
            <tr>
                <td colspan="5" class="borderless">
                    <%= erb 'issue/page/sink/frame/source.erb',
                            id:    "#{id}-stacktrace-#{i}",
                            frame: frame,
                            page:  page
                    %>
                </td>
            </tr>
        <% end %>
    <% end %>
</table>
