
        <div id="page-intro">
            <h2>Dispatchers</h2>
            <p>The dispatchers spawn an XMLRPC server per scan and provide statistics for all running server instances.<br/>
                This interface allows you to "Attach" to (see the output of), pause, resume and shutdown instances.
            </p>

            <form action="/dispatchers/edit" method="get">
                <input type="submit" value="Edit dispatchers" />
            </form>



        </div>
        <%= erb :flash, {:layout => false} %>

        <% stats.each_pair do |d_url, dispatcher_stats| %>
        <h2>
            @<%=escape( d_url )%> - <%=dispatcher_stats['running_jobs'].size%> running scans,
             <%=i=0;dispatcher_stats['running_jobs'].each{ |job| i+= proc_mem( job['proc']['rss'] ).to_i }; i.to_s%>MB RAM usage.
        </h2>

        <%if !dispatcher_stats['running_jobs'].empty? %>
        <form action="/dispatchers/<%=sanitize_url( d_url.dup )%>/shutdown" method="post">
            <%= csrf_tag %>
            <input type="submit" value="Shutdown all" />
        </form>
        <%end%>


        <% if !dispatcher_stats['running_jobs'].empty? %>
        <table>
            <tr>
                <th>PID</th>
                <th>Port</th>
                <th>Owner</th>
                <th>State</th>
                <th>Start time (Server-side)</th>
                <th>Current time (Server-side)</th>
                <th>Runtime</th>
                <th>Memory consumption</th>
                <th>Action</th>
            </tr>
        <% dispatcher_stats['running_jobs'].each do |job| %>
            <tr>


                <td><%=job['pid']%></td>
                <td><%=job['port']%></td>
                <td><%=job['owner']%></td>

                <%if !job['paused'] %>
                    <td>Running</td>
                <% else %>
                    <td>Paused</td>
                <% end %>

                <td><%=job['starttime'].to_time%></td>
                <td><%=job['currtime'].to_time%></td>
                <td><%=secs_to_hms( job['runtime'] )%></td>
                <td><%=proc_mem( job['proc']['rss'] )%> MB</td>

                <td>
                    <% if !( job['owner'] =~/WebUI helper/ ) %>

                    <form action="/instance/<%=port_to_url( job['port'], d_url, true )%>" method="get" target="_blank">
                        <input type="submit" value="Attach" />
                    </form>

                    <%if !job['paused'] %>
                    <form action="/dispatchers/<%=port_to_url( job['port'], d_url, true )%>/pause" method="post">
                        <%= csrf_tag %>
                        <input type="submit" value="Pause" />
                    </form>
                    <%end%>

                    <%if job['paused'] %>
                    <form action="/dispatchers/<%=port_to_url( job['port'], d_url, true )%>/resume" method="post">
                        <%= csrf_tag %>
                        <input type="submit" value="Resume" />
                    </form>
                    <% end %>

                    <% end %>

                    <form action="/dispatchers/<%=port_to_url( job['port'], d_url, true )%>/shutdown" method="post">
                        <%= csrf_tag %>
                        <input type="submit" value="Shutdown" />
                    </form>
                </td>
            </tr>
        <% end %>
        </table>
        <% else %>
        <span class="notice"> There are no running scans at the moment.</span>
        <% end %>

        <br/><br/>

        <% end %>
