
        <div id="page-intro">
            <h2>Dispatcher</h2>
            <p>The dispatcher is the central magement system.
                It spawns an XMLRPC server per scan and provides statistics for all running server instances.</br>
                This interface allows you to "Attach" to (see the output of), pause, resume and shutdown instances.
            </p>
        </div>
        <%= erb :flash, {:layout => false} %>

        <% if !stats['running_jobs'].empty? %>
        <p>
            <em>If sou see a lot of WebUI helpers pilling up feel free to shut them down and save yourself some memory.</em>
        </p>

        <table>
            <tr>
                <th>PID</th>
                <th>Port</th>
                <th>Owner</th>
                <th>Start time (Server-side)</th>
                <th>Current time (Server-side)</th>
                <th>Runtime</th>
                <th>Memory consumption</th>
                <th>Action</th>
            </tr>
        <% stats['running_jobs'].each do |job| %>
            <tr>


                <td><%=job['pid']%></td>
                <td><%=job['port']%></td>
                <td><%=job['owner']%></td>
                <td><%=job['starttime'].to_time%></td>
                <td><%=job['currtime'].to_time%></td>
                <td><%=secs_to_hms( job['runtime'] )%></td>
                <td><%=proc_mem( job['proc']['rss'] )%></td>

                <td>
                    <form action="/instance/<%=job['port']%>" method="get" target="_blank">
                        <input type="submit" value="Attach" />
                    </form>

                    <form action="/dispatcher/<%=job['port']%>/pause" method="post">
                        <%= csrf_tag %>
                        <input type="submit" value="Pause" />
                    </form>

                    <form action="/dispatcher/<%=job['port']%>/resume" method="post">
                        <%= csrf_tag %>
                        <input type="submit" value="Resume" />
                    </form>

                    <form action="/dispatcher/<%=job['port']%>/shutdown" method="post" <% if !( job['owner'] =~/WebUI helper/ ) %> target="_blank" <%end%> >
                        <%= csrf_tag %>
                        <input type="submit" value="Shutdown" />
                    </form>
                </td>
            </tr>
        <% end %>
        </table>
        <% else %>
        <span class="notice"> There are no running scans at the moment.</span>
        <% end %>
