
        <form action="/scan" method="post">

            <%= csrf_tag %>

            <input type="submit" value="Launch Scan" />

            <div id="page-intro">
                Select a Dispatcher:
                <select name="dispatcher">
                <% dispatcher_stats.each_pair do |d_url, stats| %>
                    <% next if !dispatchers.alive?( d_url ) %>
                    <option value="<%=d_url%>">
                        <%=show_dispatcher_line( stats )%>
                    </option>
                <%end%>
                </select>

                <h2>URL: <input name="url" value="<%=session['opts']['settings']['url']%>" size="50" /></h2>
            </div>

        </form>

        <%= erb :flash, {:layout => false} %>
