
        <div id="page-intro">
            <h2>Attached to instance on port <%=params['port']%></h2>
            <p>
                This page allows you to see what's going on at the other end of the wire (i.e. get status messages directly from the remote scanner).
                <br/>
                <br/>
            </p>

        <%if !shutdown %>

        <%if !paused %>
            <form action="/instance/<%=params['port']%>/pause" method="post">
                <%= csrf_tag %>
                <input type="submit" value="Pause" />
            </form>
        <%end%>

        <%if paused %>
        <form action="/instance/<%=params['port']%>/resume" method="post">
            <%= csrf_tag %>
            <input type="submit" value="Resume" />
        </form>
        <%end%>

        <form action="/instance/<%=params['port']%>/shutdown" method="post" target="_blank">
            <%= csrf_tag %>
            <input type="submit" value="Shutdown" />
        </form>

        <% end %>

        </div>

        <%= erb :flash, {:layout => false} %>
        <div class="left">
            <h3>Progress output:</h3>
            <iframe src="/instance/<%= params['port'] %>/output" class="output"> </iframe>
        </div>

        <div class="right">
            <h3>Results thus far:</h3>
            <iframe src="/instance/<%= params['port'] %>/output_results" class="output"> </iframe>
        </div>
