
        <div id="page-intro">
            <h2>Attached to instance on port <%=params['port']%></h2>
        </div>

        <form action="/instance/<%=params['port']%>/pause" method="post">
            <%= csrf_tag %>
            <input type="submit" value="Pause" />
        </form>

        <form action="/instance/<%=params['port']%>/resume" method="post">
            <%= csrf_tag %>
            <input type="submit" value="Resume" />
        </form>

        <form action="/instance/<%=params['port']%>/shutdown" method="post">
            <%= csrf_tag %>
            <input type="submit" value="Shutdown" />
        </form>

        <%= erb :flash, {:layout => false} %>
        <iframe src="/instance/<%= params['port'] %>/output" width="100%" height="70%"/> </iframe>
