
        <form action="/modules" method="post">

            <%= erb :flash, {:layout => false} %>

            <%= csrf_tag %>
            <div id="page-intro">
                <h2>Modules</h2>
                <p>
                    Module components assert and log entities of security interest about a web application.
                </br></br>
                </p>
                <p>
                    <input type="button" onclick="javascript:checkAll( 'audit' );checkAll( 'recon' );" value="Check all"/>
                    <input type="button" onclick="javascript:uncheckAll( 'audit' );uncheckAll( 'recon' );" value="Uncheck all"/>
                    <input type="submit" value="Save" />
                </p>
            </div>

            <div class="left">
                <fieldset>
                    <legend><h3>Audit</h3></legend>
                    <p>Audit modules actively test the web application via inputs like link parameters, forms, cookies and headers in order to assert the existence of security Issues.</p>
                    <p>
                        <input type="button" onclick="javascript:checkAll( 'audit' );" value="Check all"/>
                        <input type="button" onclick="javascript:uncheckAll( 'audit' );" value="Uncheck all"/>
                    </p>

                    <% modules.each do |mod|%>
                    <% next if mod['path'] =~ /recon/ %>
                    <p>
                        <h4>
                            <input type="checkbox" class="audit" name="modules[<%=mod['mod_name']%>]"
                                <% if session['opts']['modules'] && ( session['opts']['modules'][0] == '*' || session['opts']['modules'].include?( mod['mod_name'] ) ) %> checked="checked" <% end %> />
                                <%=escape( mod['name'] )%>
                        </h4>
                        <div class="notice"> <%=escape( mod['description'] )%></div>
                        <p>
                            <strong>Version:</strong> <%=mod['version']%></br>
                            <strong>Author:</strong> <%=escape( mod['author'])%>
                        </p>

                    </p>
                    <% end %>
                </fieldset>
            </div>

            <div class="right">
                <fieldset>
                    <legend><h3>Recon</h3></legend>
                    <p>Recon modules passively test the web application, mainly analyzing server configuration, responses and looking for directories and files.</p>
                    <p>
                        <input type="button" onclick="javascript:checkAll( 'recon' );" value="Check all"/>
                        <input type="button" onclick="javascript:uncheckAll( 'recon' );" value="Uncheck all"/>
                    </p>

                    <% modules.each do |mod|%>
                    <% next if mod['path'] =~ /audit/ %>
                    <p>
                        <h4>
                            <input type="checkbox" class="recon" name="modules[<%=mod['mod_name']%>]"
                                <% if session['opts']['modules'] && ( session['opts']['modules'][0] == '*' || session['opts']['modules'].include?( mod['mod_name'] ) ) %> checked="checked" <% end %> />
                                <%=escape( mod['name'] )%>
                        </h4>
                        <div class="notice"> <%=escape( mod['description'] )%></div>
                        <p>
                            <strong>Version:</strong> <%=mod['version']%></br>
                            <strong>Author:</strong> <%=escape( mod['author'])%>
                        </p>

                    </p>
                    <% end %>
                </fieldset>
            </div>


        </form>
