<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
  <head>
    <title></title>
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <meta http-equiv="refresh" content="5"/>
  </head>
  <body>
    <div id="container">
        <% if issues.size > 0 %>

            <h4>Total: <%=issues.size%></h4>
            <% issues.each_with_index do |issue, i|%>
            <div>
                <h5>[<%=i+1%>] <%= issue.name %> ( Severity: <%= issue.severity %> )</h5>
                     In <%= issue.elem %>

                     <% if issue.var%>
                     input <em><%= issue.var %></em>
                     <%end%>

                     <% if issue.method %>
                     using <%= issue.method %>
                     <%end%>

                     at <a href="<%= issue.url %>"><%= issue.url %></a>.
                     <br/>

                 <% if issue.method && (issue.elem.downcase == 'form' || issue.elem.downcase == 'link' ) &&
                       ( issue.method.downcase == 'get' || issue.method.downcase == 'post' ) %>
                    <form action="<%=issue.url%>" target="_blank" method="<%=issue.method.downcase%>">
                        <% if issue.variations[0]['opts'][:combo]%>
                            <%issue.variations[0]['opts'][:combo].each_pair do |name, value|%>
                                <input type="hidden" name="<%=escape(name)%>" value="<%=escape( value )%>" />
                            <%end%>
                        <%end%>
                        <input type="submit" value="Live demo" />
                    </form>
                 <%end%>

            </div>
            <br/>
            <%end%>

        <%else%>
            <h4> Nothing yet, once something is found you'll be the first to know...</h4>
        <%end%>

    </div>
  </body>
</html>
