
        <form action="/plugins" method="post">

            <%= erb :flash, {:layout => false} %>

            <%= csrf_tag %>
            <div id="page-intro">
                <h2>Plugins</h2>
                <p>
                    Plugin components extend the functionality of the framework in abstract ways.
                </p>
                <p>
                    <input type="button" onclick="javascript:checkAll( 'plugin' );" value="Check all"/>
                    <input type="button" onclick="javascript:uncheckAll( 'plugin' );" value="Uncheck all"/>
                    <input type="submit" value="Save" />
                </p>
            </div>

            <% plugins.each do |plugin|%>
            <p>
                <fieldset>
                <h3>
                    <legend>
                        <input type="checkbox" class="plugin" name="plugins[<%=plugin['plug_name']%>]"
                        <% if session['opts']['plugins'] && session['opts']['plugins'].include?( plugin['plug_name'] ) %> checked="checked" <% end %> />
                        <%=plugin['name']%>
                    </legend>
                </h3>
                <h5>Description</h5>
                <div class="notice"> <%=escape( plugin['description'] )%></div>

                <%= erb :options, { :layout => false }, :component => plugin%>

                <p>
                    <strong>Version:</strong> <%=plugin['version']%></br>
                    <strong>Author:</strong> <%=escape( plugin['author'])%>
                </p>
                </fieldset>
            </p>
            <% end %>

        </form>
