            <h2>Configuration</h2>

            <div id="configuration-tabs">
                <ul>
                    <li><a href="#configuration_list">Settings</a></li>
                </ul>

                <div id='configuration_list'>

                <strong>Version</strong>: <%=auditstore.version%><br />
                <strong>Audit started on</strong>: <%=auditstore.start_datetime%><br />
                <strong>Audit finished on</strong>: <%=auditstore.finish_datetime%><br />
                <strong>Runtime</strong>: <%=auditstore.delta_time%><br />

                <p>&nbsp;</p>
                <h3>Runtime options</h3>

                <strong>URL:</strong> <%=auditstore.options['url']%><br />
                <strong>User agent:</strong> <%=escapeHTML( auditstore.options['user_agent'] )%><br />

                <p>&nbsp;</p>

                <table>
                    <tr>
                        <th>Audited elements</th>
                        <th>Checks</th>
                        <th>Filters</th>
                        <th>Cookies</th>
                    </tr>
                  <tr>
                      <td>
                          <ul>

                            <% if auditstore.options['audit_links']%>
                            <li>Links</li>
                            <%end%>

                            <% if auditstore.options['audit_forms']%>
                            <li>Forms</li>
                            <%end%>

                            <% if auditstore.options['audit_cookies']%>
                            <li>Cookies</li>
                            <%end%>

                            <% if auditstore.options['audit_headers']%>
                            <li>Headers</li>
                            <%end%>

                        </ul>
                    </td>

                    <td>
                        <ul>
                        <% auditstore.options['checks'].each do |mod|%>
                            <li><%=mod%></li>
                        <%end%>
                        </ul>
                    </td>

                    <td>
                        <ul>

                            <li>Exclude:
                                <ul>
                                <% if !auditstore.options['exclude'].empty?%>
                                <% auditstore.options['exclude'].each do |rule|%>

                                    <li><%=escapeHTML( rule )%></li>

                                <%end%>
                                <% else %>
                                    <li>N/A</li>
                                <%end%>
                                </ul>
                            </li>

                            <li>Include:

                                <ul>
                                <% if !auditstore.options['include'].empty?%>
                                <% auditstore.options['include'].each do |rule|%>

                                    <li><%=escapeHTML( rule )%></li>

                                <%end%>
                                <% else %>
                                    <li>N/A</li>
                                <%end%>
                                </ul>
                            </li>

                            <li>Redundant:

                                <ul>
                                <% if !auditstore.options['redundant'].empty?%>
                                <% auditstore.options['redundant'].each do |regexp, counter|%>

                                    <li><%=escapeHTML( regexp )%> - Count: <%=counter%></li>

                                <%end%>
                                <% else %>
                                    <li>N/A</li>
                                <%end%>
                                    </ul>
                                </li>

                            </ul>
                        </td>

                        <td>
                            <ul>
                            <% if auditstore.options['cookies'] && !auditstore.options['cookies'].empty?%>
                            <% auditstore.options['cookies'].each_pair do |name, val|%>
                                <li><%=escapeHTML( name )%> = <%=escapeHTML( val )%></li>
                            <%end%>
                            <% else %>
                                <li>N/A</li>
                            <%end%>
                          </ul>

                        </td>
                    </tr>
                </table>
            </div>
