            <div class="issue">

                <h3 id="issue_<%=idx%>">
                    <a href="#issue_<%=idx%>">[<%=idx%>] <%=escapeHTML(issue.name)%></a>
                </h3>

                <% if crypto_issues.is_a?( Array ) && crypto_issues[idx-1] %>
                <p>
                    <form name="false_positive_<%=j%>" id="false_positive_<%=idx%>">
                        <input type="hidden" name="module" value="<%=escapeHTML(issue.internal_modname)%>" />
                        <input type="hidden" name="url" value="<%=escapeHTML(issue.url)%>" />
                        <input type="hidden" name="issue" value="<%=crypto_issues[idx-1]%>" />
                        <input onclick="javascript:report_fp( <%=idx%> );" type="button" value="Report false positive" />
                    </form>
                </p>
                <% end %>


                <div class="left">
                    <ul>
                    <li><strong>Check name</strong>: <%=escapeHTML(issue.mod_name)%> <br/>
                    (Internal check name: <strong><%=escapeHTML(issue.internal_modname)%></strong>)</li>

                    <% if issue.var %>
                    <li><strong>Affected variable</strong>: <%=escapeHTML(issue.var)%></li>
                    <%end%>

                    <li><strong>Affected URL</strong>: <a href="<%=escapeHTML(issue.url)%>"><%=escapeHTML(issue.url)%></a> </li>
                    <li><strong>HTML Element</strong>: <%=issue.elem%></li>
                    <li><strong>Requires manual verification?</strong>: <%=issue.verification ? 'Yes' : 'No'%></li>
                    <hr/>

                    <% if issue.cwe %>
                    <li><strong>CWE</strong>: <%=issue.cwe%><br/>
                    (<a target="_blank" href="<%=issue.cwe_url%>"><%=issue.cwe_url%></a>)</li>
                    <%end%>

                    <li><strong>Severity</strong>: <%=issue.severity%></li>
                    <li><strong>CVSSV2</strong>: <%=issue.cvssv2%></li>

                    </ul>

                    <p>
                        <h3>References</h3>
                        <ul>
                            <% if issue.references && !issue.references.empty? %>
                            <% issue.references.each_pair do |source, url| %>

                            <li><%=escapeHTML(source)%> - <a target="_blank" href="<%=url%>"><%=url%></a></li>

                            <%end%>
                            <%else%>
                                <li>N/A</li>
                            <%end%>
                        </ul>
                    </p>

                </div>

                <div class="right">
                    <p>
                        <h3>Description</h3>
                        <blockquote><p><%=escapeHTML(issue.description)%></p></blockquote>
                    </p>

                    <% if issue.remedy_guidance && !issue.remedy_guidance.empty? %>
                    <p>
                        <h3>Remedial guidance</h3>
                        <blockquote><p><%=escapeHTML(issue.remedy_guidance)%></p></blockquote>
                    </p>
                    <%end%>

                    <% if issue.remedy_code && !issue.remedy_code.empty? %>
                    <p>
                        <h3>Remedial code</h3>
                        <pre class="code notice"><%=escapeHTML(issue.remedy_code)%></pre>
                    </p>
                    <%end%>

                    <% if (remarks = issue.variations.first.remarks).any? %>
                        <h3>Remarks</h3>
                        <% remarks.each do |commenter, remarks| %>
                            <h4>By <%= commenter %>:</h4>
                            <% remarks.each do |remark| %>
                                <blockquote><p><%=escapeHTML( remark )%></p></blockquote>
                            <% end %>
                        <% end %>
                    <% end %>

                </div>

                <div class="clear variations" style="display: block;">
                    <% issue.variations.each_with_index do |variation, j| %>
                    <% var_idx = j + 1%>

                    <h5 class="variation_header">
                        <a href='javascript:toggleElem( "var_<%=var_idx%>_<%=idx%>" )'>
                            <span id="var_<%=var_idx%>_<%=idx%>_sign">[+]</span>
                            Variation <%=var_idx%>
                        </a>
                    </h5>

                    <strong>Affected URL</strong>:
                    <p class="notice"><a href="<%=escapeHTML(variation['url'])%>"><%=escapeHTML(variation['url'])%></a></p>

                    <% if (variation['response'] && !variation['response'].empty?) && variation['regexp_match'] %>

                    <div class="hidden" id="inspection-dialog_<%=var_idx%>_<%=idx%>" title="Relevant content is shown in red. (Hit Esc to close)">
                        <% match = escapeHTML( variation['regexp_match'] )%>
                        <pre> <%=escapeHTML( variation['response'] ).gsub( match, '<strong style="color: red">' + match + '</strong>' ) %> </pre>
                    </div>

                    <form style="display:inline" action="#">
                        <input onclick="javascript:inspect( '#inspection-dialog_<%=var_idx%>_<%=idx%>')" type="button" value="Inspect" />
                    </form>

                    <%end%>

                    <% if issue.method && (issue.elem.downcase == 'form' || issue.elem.downcase == 'link' ) &&
                        ( issue.method.downcase == 'get' || issue.method.downcase == 'post' ) %>
                    <form style="display:inline" action="<%=variation['opts'][:action]%>" target="_blank" method="<%=issue.method.downcase%>">
                    <% if variation['opts'][:combo]%>
                    <%variation['opts'][:combo].each_pair do |name, value|%>
                        <input type="hidden" name="<%=escapeHTML(name)%>" value="<%=escapeHTML( value )%>" />
                    <%end%>
                    <%end%>
                        <input type="submit" value="Replay" />
                    </form>
                    <%end%>

                    <br/><br/>

                    <div class="variation" id="var_<%=var_idx%>_<%=idx%>">

                        <% if variation['injected'] %>
                        <strong>Injected value</strong>:
                        <pre> <%=escapeHTML( variation['injected'].inspect )%> </pre>
                        <br/>
                        <%end%>

                        <% if variation['id'] %>
                        <strong>ID</strong>:
                        <pre><%=escapeHTML(variation['id'])%></pre>
                        <br/>
                        <%end%>

                        <% if variation['regexp'] %>
                        <strong>Regular expression</strong>:
                        <pre><%=escapeHTML(variation['regexp'])%></pre>
                        <br/>
                        <%end%>

                        <% if variation['regexp_match'] %>
                        <strong>Matched by the regular expression</strong>:
                        <pre><%=escapeHTML(variation['regexp_match'])%> </pre>
                        <%end%>

                        <br/>

                        <table>
                            <tr>
                                <th colspan="4" style="text-align: center">Headers</th>
                            </tr>
                            <tr>
                                <th colspan="2">Request</th>
                                <th colspan="2">Response</th>
                            </tr>
                            <tr>
                                <%= erb :headers, { headers: variation['headers']['request'] } %>
                                <%= erb :headers, { headers: variation['headers']['response'] } %>
                            </tr>
                        </table>

                        <% if variation['escaped_response']%>
                        <form style="display:inline" action="#">
                            <input onclick="javascript:renderResponse( 'res_<%=var_idx%>_<%=idx%>', 'data:text/html;base64, <%= variation['escaped_response']%>' )"
                            type="button" value="Render HTML response" />
                        </form>
                        <div id="res_<%=var_idx%>_<%=idx%>"></div>
                        <%end%>

                    </div>
                    <%end%>

                </div>

                <p class="clear separator">&nbsp;</p>

            </div>

