<% trusted = issue.verification ? 'Untrusted' : 'Trusted' %>
    <div class="issue">
        <h4>[<%=i+1%>] <%= issue.name %> (<%= trusted %> &mdash; Severity: <%= issue.severity %>)</h4>

        <p> <em><%= escapeHTML(issue.description) %></em></p>

        In <em><%= issue.elem %></em>

        <% if issue.var%>
        input <em><%= issue.var %></em>
        <%end%>

        <% if issue.method %>
        using <%= issue.method %>
        <%end%>

        at <strong><a href="<%= issue.url %>"><%= issue.url %></a></strong>.

        <p>&nbsp;</p>
    </div>
