<div class="row">
    <div class="col-md-6">
        <%= erb :search, id: 'summary_issues_tab' %>
    </div>
</div>

<% grouped_issues.each do |trust, by_severity| %>
    <% next if by_severity.empty? %>

    <h3>
        <a href="#issues-<%= trust %>">
            <%= trust.to_s.capitalize %>
        </a>
    </h3>

    <% by_severity.each do |severity, issues_by_name| %>

        <h4>
            <a href="#issues-<%= trust %>-severity-<%= severity %>">
                <%= severity.to_s.capitalize %> severity
            </a>
        </h4>

        <div class="row">
            <% issues_by_name.each do |name, issues| %>

                <div class="col-md-6">
                    <div class="issue-summary">

                        <strong>
                            <a href="#issues-<%= trust %>-severity-<%= severity %>-<%= issues.first.check[:shortname] %>">
                                <%= name %>
                            </a>
                        </strong>

                        <% if !issues.first.description.to_s.empty? %>
                        <p class="well">
                            <%= escapeHTML(issues.first.description) %>
                        </p>
                        <% end %>

                        <ul class="list-unstyled">
                            <% issues.each do |issue| %>
                                <li>

                                    <% issue_id = issue_location(issue) %>

                                    <a class="btn btn-xs btn-info"
                                       href="#<%= issue_id %>"
                                       title="Inspect issue"
                                    >
                                        <i class="fa fa-eye"></i>
                                    </a>

                                    In <code><%= issue.vector.type %></code>

                                    <% if issue.active? %>
                                        input
                                        <code><%= issue.affected_input_name %></code>
                                    <% end %>

                                    <% if issue.variations.first.request %>
                                        using
                                        <code><%= issue.variations.first.request.method.to_s.upcase %></code>
                                    <% end %>

                                    at
                                    <a href="<%= escapeHTML(issue.vector.action) %>">
                                        <%= escapeHTML(issue.vector.action) %>
                                    </a>.
                                </li>
                            <% end %>
                        </ul>

                    </div>
                </div>
            <% end %>
        </div>

        <hr/>
    <% end %>
<% end %>
