<% grouped_issues.each do |trust, by_severity| %>
    <% next if by_severity.empty? %>

    <h3>
        <a
            id="summary-issues-<%= trust %>"
            href="#!/summary/issues/<%= trust %>"
        >

            <%= trust.to_s.capitalize %>

            <span class="badge">
                <%= graph_data[:trust][trust.to_s.capitalize] %>
            </span>
        </a>
    </h3>

    <% by_severity.each do |severity, issues_by_name| %>

        <h4>
            <a
                id="summary-issues-<%= trust %>-severity-<%= severity %>"
                href="#!/summary/issues/<%= trust %>/severity/<%= severity %>"
            >
                <%= severity.to_s.capitalize %> severity

                <span class="badge">
                    <%= graph_data["#{trust}_severities".to_sym][severity.to_sym] %>
                </span>
            </a>
        </h4>

        <div class="row">
            <% issues_by_name.each do |name, issues| %>

                <div class="col-md-6">
                    <div class="issue-summary">

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <strong>
                                    <a
                                        id="summary-issues-<%= trust %>-severity-<%= severity %>-<%= issues.first.check[:shortname] %>"
                                        href="#!/summary/issues/<%= trust %>/severity/<%= severity %>/<%= issues.first.check[:shortname] %>"
                                    >
                                        <%= name %>

                                        <span class="badge">
                                            <%= issues.size %>
                                        </span>
                                    </a>
                                </strong>
                            </div>

                            <div class="panel-body">
                                <% if !issues.first.description.to_s.empty? %>
                                    <p class="well">
                                        <%= md issues.first.description %>
                                    </p>
                                <% end %>

                                <table class="table table-condensed">
                                    <tr>
                                        <th></th>
                                        <th>
                                            Vector type
                                        </th>

                                        <% if issues.first.active? %>
                                            <th>
                                                Input name
                                            </th>
                                        <% end %>

                                        <% if issues.first.variations.first.request %>
                                            <th>
                                                HTTP method
                                            </th>
                                        <% end %>

                                        <th>
                                            Action
                                        </th>
                                    </tr>

                                    <% issues.each do |issue| %>
                                        <tr>
                                            <td>
                                                <a class="btn btn-xs btn-info"
                                                   href="<%= issue_location(issue) %>"
                                                   title="Inspect issue"
                                                >
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <code><%= issue.vector.type %></code>
                                            </td>

                                            <% if issue.active? %>
                                                <td>
                                                    <code><%= issue.affected_input_name %></code>
                                                </td>
                                            <% end %>

                                            <% if issue.variations.first.request %>
                                                <td>
                                                    <code><%= issue.variations.first.request.method.to_s.upcase %></code>
                                                </td>
                                            <% end %>

                                            <td>
                                                <a href="<%= escapeHTML issue.vector.action %>">
                                                    <%= escapeHTML issue.vector.action %>
                                                </a>
                                            </td>
                                        </tr>
                                    <% end %>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>

        <hr/>
    <% end %>
<% end %>
