            <h2>Plugin results</h2>

                <div id="plugin-tabs">
                    <ul>
                    <% plugins.each_pair do |name, html|%>
                        <li><a href="#<%=name%>"><%=get_plugin_info( name )[:name]%></a></li>
                    <% end %>
                    </ul>

                <% plugins.each_pair do |name, html|%>
                    <div id="<%=name%>">
                        <blockquote>
                            <pre><%=prep_description( get_plugin_info( name )[:description] )%></pre>
                        </blockquote>

                        <p><%=html.force_encoding( 'utf-8' )%></p>
                    </div>

                <% end %>
                </div>

        </section>
