<%# Encoding: utf-8%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en-US">
    <head>
      <title><%= title_url %> :: Arachni Web Application Security Report</title>

      <!--
          Design by:
            * Christos Chiotis <chris@survivetheinternet.com>
            * Tasos "Zapotek" Laskos <tasos.laskos@gmail.com>

          Copyright (c) Arachni 2011-2014.
           -->

      <script type="text/javascript">
      //<![CDATA[
        <%=erb 'js/init.js', { graph_data: graph_data } %>
      //]]>
      </script>

      <style type="text/css">
      /*<![CDATA[*/
        <%=erb 'css/jquery.jqplot.min.css' %>
        <%=erb 'css/jquery-ui.css' %>
        <%=erb 'css/main.css' %>
      /*]]>*/
      </style>

    </head>

    <body>

        <div id="fp_report_msg" class="hidden" title="Reporting a false positive."></div>

        <div id="contentreport">
            <header>
                <h1>Report for <%=escapeHTML(auditstore.options['url'])%> (Generated on <strong><%=Time.now%></strong>)</h1>
                <span style="float: right">Found a false positive? <a href="<%=escapeHTML(ISSUES_URL)%>">Report it here</a>.</span>
            </header>

            <nav>
                <ul>
                    <li><a href="#summary">Summary</a></li>
                    <li><a href="#issues">Issues</a></li>
                    <li><a href="#plugins">Plugin results</a></li>
                    <li><a href="#sitemap">Sitemap</a></li>
                    <li><a href="#configuration">Configuration</a></li>
                </ul>
            </nav>

            <section class="tab" id="summary">
                <%= erb :summary, { auditstore: auditstore } %>
            </section>

            <section class="tab" id="configuration">
                <%= erb :configuration, { auditstore: auditstore} %>
            </section>

            <section class="tab" id="issues">
                <%= erb :issues, {
                        auditstore:             auditstore,
                        filtered_hashes:        filtered_hashes,
                        anomalous_hashes:       anomalous_hashes,
                        anomalous_meta_results: anomalous_meta_results
                    }
                %>
            </section>

            <section class="tab" id="plugins">
                <%= erb :plugins, { auditstore: auditstore, plugins: plugins } %>
            </section>

            <section class="tab" id="sitemap">
                <%= erb :sitemap, { auditstore: auditstore } %>
            </section>

        </div>
    </body>
</html>
