
<h3>Taint analysis (Inputs that affect output)</h3>
<% @results.each_with_index do |item, idx| %>

    <h4>
        <%=item['element']['type'].capitalize%>

        <%if item['element']['name']%>
        named '<%=item['element']['name']%>'
        <%end%>

        <%if item['element']['affected_input_name']%>
        using the '<%=item['element']['affected_input_name']%>' input
        <%end%>

        <%if item['element']['owner']%>
        at <a href="<%=escapeHTML( item['element']['owner'] )%>"> <%=item['element']['owner']%> </a>
        <%end%>

        <%if item['element']['action']%>
        pointing to <a href="<%=escapeHTML( item['element']['action'] ) %>"> <%=item['element']['action']%>  </a>
        <%end%>

        <%if item['element']['method']%>
        using <%=item['request']['method']%>
        <%end%>
    </h4>

    <p>
        It was submitted using the following parameters:
        <ul>
        <%item['element']['auditable'].each_pair do |k, v| %>
            <li><%=k%> = <%=v%></li>
        <%end%>
        </ul>

        The taint landed in the following elements at <a href="<%=escapeHTML( item['request']['url'] )%>"> <%=item['request']['url']%> </a>:
            <ul>
            <%item['landed'].each do |elem| %>
                <li>
                <%=elem['type'].capitalize%>

                <%if elem['name']%>
                named '<%=elem['name']%>'
                <%end%>

                <%if elem['affected_input_name']%>
                using the '<%=elem['affected_input_name']%>' input
                <%end%>

                <%if elem['auditable']%>
                <ul>
                    <%elem['auditable'].each_pair do |k, v| %>
                        <li><%=k%> = <%=v%></li>
                    <%end%>
                </ul>
                <%end%>
                </li>
            <%end%>
            </ul>

            <div class="hidden" id="inspection-dialog_<%=idx%>" title="Relevant content is shown in red.">
              <% match = escapeHTML( item['response']['body'] )%>
              <pre> <%=escapeHTML( item['response']['body'] ).gsub( item['taint'], '<strong style="color: red">' + item['taint'] + '</strong>' ) %> </pre>
            </div>

            <form style="display:inline" action="#">
              <input onclick="javascript:inspect( '#inspection-dialog_<%=idx%>')" type="button" value="Inspect" />
            </form>

            <% if item['request']['params'] %>
            <form style="display:inline" action="<%=item['request']['url']%>" target="_blank" method="<%=item['request']['method']%>">
              <% item['request']['params'].each_pair do |name, value|%>
              <input type="hidden" name="<%=escapeHTML( name || '' )%>" value="<%=escapeHTML( value || '' )%>" />
              <%end%>
              <input type="submit" value="Replay" />
            </form>
            <%end%>

    </p>

    <p>&nbsp;</p>

<%end%>
