<strong>
    <a
    id="<%= id %>-arguments-all"
    href="<%= id_to_location id %>/arguments/all">
        All
    </a>
</strong>

<%= data_dump sink.arguments %>

<strong>
    <a
    id="<%= id %>-arguments-tainted"
    href="<%= id_to_location id %>/arguments/tainted">
        Tainted
    </a>
</strong>

<%= data_dump sink.tainted %>
